{% extends 'base.html' %}

{% block title %}CID miRNA {% endblock %}
{% block content %}
<div class="about">

<p>Source code for the tool running behind this web server can be found at: <a href="https://github.com/alito/CID-miRNA">https://github.com/alito/CID-miRNA</a></p>

<p>If you use the results of this software in a published paper please cite this article as:</p>

<pre><code>CID-miRNA: A web server for prediction of novel miRNA precursors in human genome, 
    Tyagi S. et. al., Biochemical and Biophysical Research Communications                       
    Volume 372, Issue 4, 8 August 2008, Pages 831-834                                           
</code></pre>


<a id="contact"></a>
<p>If you have any comments or queries, or would like to report a bug, please email <a href="mailto:sonika.tyagi@agrf.org.au">Sonika Tyagi</a> or <a href="mailto:alex.dubrovsky@agrf.org.au">Alejandro Dubrovsky</a></p>

</div>
{% endblock content %}
