{% extends 'base.html' %}

{% block title %}CID miRNA {% endblock %}
{% block content %}
<div class="about">

<p>Source code for the tool running behind this web server can be found at: <a href="https://github.com/alito/CID-miRNA">https://github.com/alito/CID-miRNA</a></p>

<p>If you use the results of this software in a published paper please cite the following article as:</p>

<pre><code>CID-miRNA: A web server for prediction of novel miRNA precursors in human genome, 
    Tyagi S. et. al., Biochemical and Biophysical Research Communications                       
    Volume 372, Issue 4, 8 August 2008, Pages 831-834                                           
</code></pre>


<a id="contact"></a>
<p>If you have any comments or queries, please direct them to the CID-miRNA help group at <a href="https://groups.google.com/forum/#!forum/cid-mirna">https://groups.google.com/forum/#!forum/cid-mirna</a>. If you'd like to report a bug, please use the Issues on the project's GitHub's page at <a href="https://github.com/alito/CID-miRNA/issues">https://github.com/alito/CID-miRNA/issues</a>.</p>

</div>
{% endblock content %}
