{% extends "base12.html" %}

{% block content %}
{% load static %}
<script>

{% if reject %}

alert('Invalid file format. Please upload again!')

{% endif %}

</script>
<html>

<head>
  <title>
    CRC Predictions
  </title>
  <style media="screen">
    table {
      margin-top: 10px;
      min-width: 75%;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }

    th,
    td {
      padding: 7px;
    }

    .pagination_class {
      font-size: 13px;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div style='min-height: 550px;'>
    <center>
      <div style='color: white;
  background-color: brown;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid black;
  height: 80px;'>
        <h1> Predict Co-Regulatory Clusters (CRCs)</h1>
      </div>
      <br>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h4>
          Obtain predicted CRCs given a set of motif instances uploaded in BED format. 
          The models are trained on motifs obtained from ChIP-seq experiments.

          </h4>
        <h3>
        Select input BED file with motif instances
      </h3>
        <br>
        <input type="file" name="myfile">
        <br>
        <div style="margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 130px;
    margin-left: 59%;
    height: 28px;
    padding-top: 3px;">
        <a href="/download_csv/{{ file_name }}">Download CSV</a></li>
      </div>
        OR paste here..
        <br>
        <br>
        <textarea name = "bedtext" style = "width: 1000px; height: 300px;"
        placeholder = "Ex:
        chr19	10285537	10285549	PBX2_GCTGGCAGTCAC	0	+
        chr19	10285567	10285581	SPI1_GGAAACAGGATGTG	0	+
        chr19	10286951	10286961	CEBPD_GTTTCGCAGT	0	+
        chr19	10286949	10286959	SOX6_TGCTTATCTC	0	+
        chr19	11766928	11766939	SP1_GTGACGACTTC	0	+
        chr19	11766966	11766977	GFI1B_AAAGCGCAGCA	0	+
        chr19	11766958	11766973	NFYB_AACGCAGCCAATGGG	0	+
        chr19	11766994	11767004	TBX21_AAAGTGAGAA	0	+
        chr17	11997166	11997177	E2F4_AAGTCCCGCCC	0	-
        chr17	11997167	11997181	EBF1_AACCCCCGGGGCAT	0	-
        chr17	11997346	11997361	BACH1_AACCCGGCTCCGCAT	0	-
        chr17	11997362	11997375	POU2F2_AAATGCAAAGCAG	0	-
        chr17	11997349	11997363	JUN_AAAATGACACAAC	0	-
        chr17	11997456	11997469	HSF1_AACCAGAAGGTTC	0	-
        chr17	11997458	11997468	RBPJ_AAACGGAAAT	0	-
        chr17	11997484	11997495	TFAP2C_TGCCCCAGGGGC	0	-
        chr17	11997457	11997467	ETV1_AACATCCTGC	0	-
        "></textarea>
        <br>
        <br>
        <button type="submit">Submit</button>

      </form>

      {% if uploaded_file_url %}
      <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
      {% endif %}

      

      {% if full_data.result|length > 0%}
      <table>
        <thead>
          <tr>
            <th> Nearest gene </th>
            <th> Co-regulatory motifs </th>
            <th> CRC_score </th>
          </tr>
        </thead>
        <tbody>
          {% for row in full_data.result %}
          <tr>
            <td>{{ row.gene_name }}</td>
            <td>{{ row.cluster_motifs}} </td>
            <td>{{ row.CRC_score}} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
      <br>

      <hr>
      <footer>
        <p>If you are using this database, Please cite as,
        </p>
        <blockquote style="font-size: 14px; text-align: left;">
          <p>
            Tarun Bonu, Levin Kuhlmann, Sonika Tyagi, A curated database of human co-regulatory clusters (CRC) of
            transcription factor motifs<a> (Unpublished)</a></p>
        </blockquote>
      </footer>
</body>

</html>
{% endblock %}