{% extends "base12.html" %}

{% block content %}
{% load static %}

<html>
<head>
<title>
  CRC Finder
</title>
<style media="screen">
    table, th, td {
      border : 1px solid black;
    }
    th, td {
      padding : 7px;
    }
</style>
</head>
<body>
  <!-- <form action="/searcher/results/" method="get">
        <label for="results">Enter a string: </label>
        <input id="results" type="text" name="results" value="{{ search_results }}">
        <input type="submit" value="submit">
    </form>  -->
    <div>
      <center>
        <div style = 'color: white;
    background-color: brown;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
    height: 80px;'>
        <h1> CRC Finder</h1>
        </div>
        <br>
        <h3>
          Search for motif clusters spread over the complete genome
          </h3>
          <br>
    <form action="" method="POST">
    {% csrf_token %}
    <span style = 'font-size:20px'>Enter gene names:</span> {{ data.gene_search}}
    <br>
    <br>
    <span style = 'font-size:20px'>Enter motif names:</span> {{ data.motif_search }}
    <br>
    <br>
    <input type="submit" value="Search CRCs">
    </form>
    <br>
    <br>
    {% if full_data %}
    {% if full_data.gene != '' %}
    Searched gene name :
      {{ full_data.gene }}
      {% endif %}
    <br>
    <br>
    {% if full_data.motif != '' %}
    Searched motif :
      {{ full_data.motif }}
      {% endif %}
    <br>
    <br>
    <!-- {{ full_data.result }} -->
    {% if full_data.result|length > 0%}
    <table>
      <thead>
        <tr>
          <th> Nearest gene </th>
            <th> Co-regulatory motifs </th>
          </tr>
      </thead>
      <tbody>
          {% for row in full_data.result %}
          <tr>
            <td>{{ row.gene_name }}</td>
            <td>{{ row.cluster_motifs}} </td>
            </tr>
            {% endfor %}
      {% else %}
      <h1 style = 'color:red'>NOT FOUND!</h1>
      {% endif %}
      </tbody>
      </table>
      {% endif %}
    </center>
    </div>

</body>
</html>
{% endblock %}

