{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Mi RNA Interactions{% endblock %}
{% block content %}
<!-- search MiRNA Entity Interaction -->

<div class="page-header">
    <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form" method="post" action="{% url 'mirna_entity_search' %}">
               <!-- avoid CSRF verification failed error. -->
               {% csrf_token %}
            <div class="form-group">
               <input name="pre_mirna" type="text" placeholder="Pre MiRNA" class="form-control" value="{{ search_pre_mirna }}">
               <input name="mature_mirna" type="text" placeholder="Mature MiRNA" class="form-control" value="{{ search_mature_mirna }}">
               <input name="entity_name" type="text" placeholder="Entity Name" class="form-control" value="{{ search_entity_name }}">
               <input name="entity_type" type="text" placeholder="Entity Type" class="form-control" value="{{ search_entity_type }}">
               <input name="database" type="text" placeholder="Database" class="form-control" value="{{ search_database }}">
            </div>
            <button type="submit" class="btn btn-success">Search</button>
        </form>
    </div>
</div>
 <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Mi RNA Interactions</div>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-responsive-md">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Interactor 1</th>
                    <th colspan="2">Interactor 2</th>
                    <th colspan="3"></th>
                </tr>
                <tr>
                    <th>Pre-miRNA</th>
                    <th>Mature-miRNA</th>
                    <th>Interactor Name</th>
                    <th>Interactor Type</th>
                    <th>Database</th>
                    <th>Support</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
                {% for mirna_entity in mirna_entity_list %}
                    <tr>
                        <td>
                            <a href="mirna_search?pre_mirna={{ mirna_entity.pre_mirna }}&mature_mirna={{ mirna_entity.mature_mirna }}">{{ mirna_entity.pre_mirna }}</a>
                        </td>
                        <td>
                            <a href="mirna_search?pre_mirna={{ mirna_entity.pre_mirna }}&mature_mirna={{ mirna_entity.mature_mirna }}">{{ mirna_entity.mature_mirna }}</a>
                        </td>
                        <td>
                            <a href="entity_search?entity_type={{ mirna_entity.entity_type }}&name={{ mirna_entity.entity_name }}">{{ mirna_entity.entity_name }}</a>
                        </td>
                        <td>{{ mirna_entity.entity_type }}</td>
                        <td>{{ mirna_entity.database }}</td>
                        <td>{{ mirna_entity.occurrence }}</td>
                        <td>{{ mirna_entity.info }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="pagination container">
    <span class="step-links">
        {% if mirna_entity_list.has_previous %}
            <a class="btn btn-primary btn-sm" href="{{ base_url }}page=1">&laquo; first</a>
            <a class="btn btn-primary btn-sm" href="{{ base_url }}page={{ mirna_entity_list.previous_page_number }}">previous</a>
        {% else %}
            <a class="btn btn-primary btn-sm disabled" href="#">&laquo; first</a>
            <a class="btn btn-primary btn-sm disabled" href="#">previous</a>
        {% endif %}

        <span class="current">
            Page {{ mirna_entity_list.number }} of {{ paginator.num_pages }}.
        </span>

        {% if mirna_entity_list.has_next %}
            <a class="btn btn-primary btn-sm" href="{{ base_url }}page={{ mirna_entity_list.next_page_number }}">next</a>
            <a class="btn btn-primary btn-sm" href="{{ base_url }}page={{ paginator.num_pages }}">last &raquo;</a>
        {% else %}
            <a class="btn btn-primary btn-sm disabled" href="#">next</a>
            <a class="btn btn-primary btn-sm disabled" href="#">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
