body {
  padding-top: 50px;
}
.main {
  padding: 20px 15px;
  text-align: center;
}


.about {
    padding: 40px 15px;
}

.logo {
    text-align: center;
}

img.logo {
    width: 320px;
}

/*
@media (min-width: 768px) {
    .navbar-nav {
        float: right;
    }    
}
*/

.panel_height_300px {
    height: 300px;
}

